@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<img src="~/Images/redPanda.png" class="img-thumbnail" />

<address>
    One Address Drive<br />
    Suburb, Cape Town 7530<br />
    <strong>Phone Number:</strong> 021-555-5555  
</address>

<address>
    <strong>Email Address:</strong>   <a href="mailto:Aftercare@email.com">Aftercare@email.com</a><br />
</address>